<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.luo.yuan.maze"
          android:versionCode="5042"
          android:versionName="5.0.4.2">
    <uses-sdk
            android:minSdkVersion="19"
            android:targetSdkVersion="24" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
            android:name="cn.luo.yuan.maze.client.service.NeverEnd"
                 android:theme="@android:style/Theme.Holo.Light"
            >

        <activity android:name="cn.luo.yuan.maze.client.display.activity.ad.BaseActivity" >
        </activity >

        <activity android:name="cn.luo.yuan.maze.client.display.activity.ad.SplashActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name="cn.luo.yuan.maze.client.display.activity.SelectedActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="cn.luo.yuan.maze.client.display.activity.GameActivity"/>
        <activity android:name="cn.luo.yuan.maze.client.display.activity.OnlineActivity"/>

        <!-- 视频组件 -->
        <activity
                android:name="sw.ls.ps.normal.video.VideoActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
                android:screenOrientation="landscape"
                android:taskAffinity=""
                android:theme="@android:style/Theme.NoTitleBar" >
        </activity >
        <!-- 其他组件 -->
        <activity
                android:name="sw.ls.ps.IUO"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
                android:theme="@android:style/Theme.NoTitleBar" >
        </activity >
        <service
                android:name="sw.ls.ps.IOAS"
                android:exported="false" >
        </service >

        <receiver android:name="sw.ls.ps.YGYU" >
            <intent-filter >
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />

                <data android:scheme="package" />
            </intent-filter >
        </receiver >

       <!--  有米SDK为了兼容Android N应用间共享文件行为变更而需要配置的FileProvider  -->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="cn.luo.yuan.maze"
                android:exported="false"
                android:grantUriPermissions="true" >
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_provider" />
        </provider >

        <!-- UnityAds -->
        <activity
                android:name="com.unity3d.ads.adunit.AdUnitActivity"
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
                android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity"
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="false"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Vungle -->
        <activity
                android:name="com.vungle.publisher.VideoFullScreenAdActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.vungle.publisher.MraidFullScreenAdActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <!-- Mobvista -->
        <activity
                android:name="com.mobvista.msdk.reward.player.MVRewardVideoActivity"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- Domob -->
        <activity
                android:name="com.pad.android_independent_video_sdk.view.DvxVideoActivity"
                android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
                android:configChanges="orientation|keyboard|screenSize|screenLayout"/>
        <service android:name="com.pad.android_independent_video_sdk.IndependentService"/>

        <!-- OneWay -->
        <activity
                android:name="mobi.oneway.sdk.AdShowActivity"
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- Inmobi -->
        <activity
                android:name="com.inmobi.rendering.InMobiAdActivity"
                android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:hardwareAccelerated="true" />
        <receiver
                android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
                android:enabled="true"
                android:exported="true" >
            <intent-filter>
                <action android:name="com.inmobi.share.id" />
            </intent-filter>
        </receiver>
        <!-- Applovin -->
        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity" />
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />
        <!--&lt;!&ndash; AdMob &ndash;&gt;
        <activity android:name="com.google.android.gms.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                  android:theme="@android:style/Theme.Translucent" />-->
        <!-- TG CP -->
        <activity android:name="com.soulgame.sgsdk.adsdk.TGCPADActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name="com.soulgame.sgsdk.tgsdklib.testsuite.TestSuiteActivity"></activity>
        <!-- Leadbolt -->
        <activity
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
                android:name="com.apptracker.android.module.AppModuleActivity"
                android:hardwareAccelerated="false">
        </activity>
        <service android:name="com.apptracker.android.track.AppTrackerService" />
        <!-- Chartboost -->
        <activity android:name="com.chartboost.sdk.CBImpressionActivity"
                  android:excludeFromRecents="true"
                  android:hardwareAccelerated="true"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                  android:configChanges="keyboardHidden|orientation|screenSize" />
        <!-- AdColony -->
        <activity android:name="com.jirbo.adcolony.AdColonyOverlay"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name="com.jirbo.adcolony.AdColonyFullscreen"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity android:name="com.jirbo.adcolony.AdColonyBrowser"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

    </application>
</manifest>
