<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="cn.luo.yuan.maze"
          android:versionCode="5120"
          android:versionName="5.1.2.0">
    <uses-sdk
            android:minSdkVersion="19"
            android:targetSdkVersion="24" />\
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
            android:name="cn.luo.yuan.maze.client.service.NeverEnd"
                 android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            >

        <activity android:name="cn.luo.yuan.maze.client.display.activity.ad.BaseActivity" >
        </activity >

        <activity android:name="cn.luo.yuan.maze.client.display.activity.SelectedActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="cn.luo.yuan.maze.client.display.activity.GameActivity"/>
        <activity android:name="cn.luo.yuan.maze.client.display.activity.OnlineActivity"/>
        <activity android:name="cn.luo.yuan.maze.client.display.activity.PalaceActivity"/>
        <activity android:name="cn.luo.yuan.maze.client.display.activity.ImageActivity"/>


        <!-- Vungle -->
        <activity
                android:name="com.vungle.publisher.VideoFullScreenAdActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.vungle.publisher.MraidFullScreenAdActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>

        <!-- OneWay -->
        <activity
                android:name="mobi.oneway.sdk.AdShowActivity"
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- TG CP -->
        <activity android:name="com.soulgame.sgsdk.adsdk.TGCPADActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity android:name="com.soulgame.sgsdk.tgsdklib.testsuite.TestSuiteActivity"></activity>

        <!-- Centrixlink -->
        <activity android:name="com.centrixlink.SDK.FullScreenADActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:process=":adprocess"
                  tools:ignore="InnerclassSeparator" />

        <activity android:name="com.centrixlink.SDK.ResizedVideoADActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
                  android:hardwareAccelerated="true"
                  android:process=":adprocess"
                  tools:ignore="InnerclassSeparator" />

        <service
                android:name="com.centrixlink.SDK.service.CentrixlinkService"
                android:exported="false" />
        <!-- TG ADX -->
        <activity
                android:name="com.yomob.tgsdklib.TGVideoActivity"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
                android:name="com.yomob.tgsdklib.TGWebActivity"
                android:launchMode="singleTask"
                android:screenOrientation="landscape"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Yumi -->
        <activity android:name="com.yumi.android.sdk.ads.activity.YumiBrowserActivity" />

        <receiver android:name="com.yumi.android.sdk.ads.self.module.receiver.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yumi.android.sdk.ads.self.module.receiver.InstallCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yumi.android.sdk.ads.selfmedia.module.receiver.DownloadCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.yumi.android.sdk.ads.selfmedia.module.receiver.InstallCompleteReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="com.yumi.android.sdk.ads.service.YumiAdsEventService" />
        <service android:name="com.yumi.android.sdk.ads.self.module.service.OpenPkgService" />
        <service android:name="com.yumi.android.sdk.ads.self.module.service.ADEventReport" />
        <service android:name="com.yumi.android.sdk.ads.selfmedia.module.service.OpenPkgService" />
        <service android:name="com.yumi.android.sdk.ads.selfmedia.module.service.ADEventReport" />

        <activity
                android:name="com.yumi.android.sdk.ads.selfmedia.activity.YumiFullScreenActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity android:name="com.yumi.android.sdk.ads.mediation.activity.MediationTestActivity" />

        <!-- DianJoy -->
        <service
                android:name="com.dianjoy.video.DianViewService"
                android:process=":playgame" />
        <activity
                android:name="com.dianjoy.video.DianViewActivity"
                android:launchMode="singleTask"
                android:screenOrientation="landscape"
                android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"/>
        <activity
                android:name="com.dianjoy.video.DianViewAdBrowser"
                android:configChanges="orientation|screenSize"/>

    </application>
</manifest>
